In [1]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.exc import SQLAlchemyError
# CREATE USER 'Andrew'@'%' IDENTIFIED BY '123456';
# ALTER USER 'root'@'localhost' IDENTIFIED BY '123456', 'Andrew'@'%' IDENTIFIED BY '123456';
db_url = "mysql://Andrew:123456@localhost:3306/test_db"

engine = create_engine(db_url)
Base = declarative_base()

C:\Users\Andrew\AppData\Local\Temp\ipykernel_25500\1019045823.py:11: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [2]:
class TestTable(Base):
    __tablename__ = "test_table"
    
    id = Column(Integer, primary_key=True)
    name = Column(String(255))
    count = Column(Integer, default=0)
    
    def __repr__(self):
        return f"TestTable(id = {self.id}, name = '{self.name}', count = {self.count})"

In [3]:
Base.metadata.create_all(engine)

Session = sessionmaker(bind=engine)
session = Session()

In [6]:
try:
    # Create
    new_record = TestTable(name="Sample Record", count=1)
    session.add(new_record)
    session.commit()
    print("Create operation:", new_record)
    
    # Read
    read_record = session.query(TestTable).filter_by(id=new_record.id).first()
    print("Read operation:", read_record)
    
    # Update
    read_record.name = "Updated Record"
    read_record.count += 1  # Increment the count
    session.commit()
    print("Update operation:", read_record)
    
    # Delete
    print("Delete operation:", read_record)
    session.delete(read_record)
    session.commit()
    
    # Create
    new_record = TestTable(name="Sample Record I was here", count=1)
    session.add(new_record)
    session.commit()
    print("Create operation:", new_record)
    
    # Create
    new_record = TestTable(name="Sample Record Im new", count=2)
    session.add(new_record)
    session.commit()
    print("Create operation:", new_record)
except SQLAlchemyError as e:
    print("Error:", e)
finally:
    # Close the session
    session.close()

Create operation: TestTable(id = 1, name = 'Sample Record', count = 1)
Read operation: TestTable(id = 1, name = 'Sample Record', count = 1)
Update operation: TestTable(id = 1, name = 'Updated Record', count = 2)
Delete operation: TestTable(id = 1, name = 'Updated Record', count = 2)
Create operation: TestTable(id = 2, name = 'Sample Record I was here', count = 1)
Create operation: TestTable(id = 3, name = 'Sample Record Im new', count = 2)

In [12]:
class HotelIncome():
    def __init__(self, Month_Year, Kind_Room, Monthly_Room_Profit, Total_Rooms, Occupied_Rooms, Occupation_Percentage, Total_Monthly_Profit):
        self.Month_Year = Month_Year
        self.Kind_Room = Kind_Room
        self.Monthly_Room_Profit = Monthly_Room_Profit
        self.Total_Rooms = Total_Rooms
        self.Occupied_Rooms = Occupied_Rooms
        self.Occupation_Percentage = Occupation_Percentage
        self.Total_Monthly_Profit = Total_Monthly_Profit
    def __repr__(self):
        return f"<HotelIncome(Month_Year='{self.Month_Year}',\
    \nKind_Room='{self.Kind_Room}',\
    \nMonthly_Room_Profit='{self.Monthly_Room_Profit}',\
    \nTotal_Rooms='{self.Total_Rooms}',\
    \nOccupied_Rooms='{self.Occupied_Rooms}',\
    \nOccupation_Percentage='{self.Occupation_Percentage}',\
    \nTotal_Monthly_Profit='{self.Total_Monthly_Profit}')>"

In [13]:
h = HotelIncome(1,2,3,4,5,6,7)
print(h)

<HotelIncome(Month_Year='1',
Kind_Room='2',
Monthly_Room_Profit='3',
Total_Rooms='4',
Occupied_Rooms='5',
Occupation_Percentage='6',
Total_Monthly_Profit='7')>