In [1]:
import pandas as pd
from pprint import pprint
from dateutil.relativedelta import relativedelta
import numpy as np

In [2]:
Hotel_Profit_Raw = pd.read_excel('..\Data\Hotel_Income_Raw.xlsx')

Hotel_Profit_Raw.describe()

,No. reserva,Vlr. diária,UH,Nome fantasia,Razão social,Localizador
count,9.576000e+03,9576.000000,8349.000000,7837.000000,9565.000000,0.0
mean,3.469052e+08,389.234124,769.151755,11.473906,29.998850,NaN
std,2.405547e+07,222.385478,299.084096,17.475257,56.618728,NaN
min,3.114881e+08,0.000000,301.000000,1.000000,1.000000,NaN
25%,3.427951e+08,300.000000,509.000000,2.000000,2.000000,NaN
50%,3.470816e+08,357.210000,712.000000,3.000000,3.000000,NaN
75%,3.504042e+08,437.000000,1004.000000,11.000000,22.000000,NaN
max,2.660469e+09,5000.000000,1312.000000,84.000000,278.000000,NaN

In [3]:
Hotel_Profit_Raw.shape[0]

9576

In [4]:
Hotel_Profit_Raw.drop_duplicates(inplace=True)
raw_columns = Hotel_Profit_Raw.columns
raw_columns

Index(['No. reserva', 'Status', 'Tipo UH', 'Vlr. diária', 'UH', 'Garantida',
       'Chegada', 'Partida', 'Nome fantasia', 'Razão social', 'Segmento',
       'Tarifa', 'Origem', 'Tipo hóspede', 'Adt | C1 | C2', 'Dt. reserva',
       'Localizador', 'Dt. Cancelamento'],
      dtype='object')

In [5]:
Hotel_Profit_Raw.shape[0]

7704

In [6]:
unique_rooms = Hotel_Profit_Raw['Tipo UH'].unique()
print(f"\nUnique Room Types: \n{unique_rooms}\n Quantity of Rooms: {len(unique_rooms)} \nColumns: {raw_columns}")

Unique Room Types:
['SSNN / AABB' 'AAEE / AAEE' 'UUNN / UUNN' 'UUNN / AAEE' 'SSNN / SSNN'
 'BBBB / SSBB' 'AAEE / UUNN' 'SSBB / AABB' 'SSBB / UUNN' 'BBKK / AAEE'
 'SSBB / SSNN' 'SSNN / BBKK' 'SSBB / SSBB' 'AAEE / BBKK' 'BBKK / BBBB'
 'SSNN / AAEE' 'UUHH / UUHH' 'BBBB / BBBB' 'SSQQ / SSQQ' 'SSNN / UUNN'
 'SSBB / AAEE' 'UUHH / UUNN' 'AABB / AABB' 'AABB / AAEE' 'SSQQ / AAEE'
 'BBKK / SSNN' 'AABB / SSNN' 'UUHH / AAEE' 'SSQQ / AABB' 'RRNN / RRNN'
 'AABB / UUNN' 'AAEE / AABB' 'BBKK / AABB' 'UUHH / AABB' 'UUNN / SSBB'
 'UUNN / SSNN' 'BBBB / SSNN' 'SSQQ / UUNN' 'BBBB / BBKK' 'BBBB / AABB'
 'AAEE / SSNN' 'BBBB / AAEE' 'AABB / SSBB' 'AADD / AAEE' 'SSSN / AAEE'
 'AADD / AABB' 'UUNN / BBKK' 'UUNN / AABB' 'AADD / UUNN' 'BBBB / UUNN'
 'LLNN / BBKK' 'UUNN / UUHH' 'LLNN / BBBB' 'AADD / AADD' 'SSQQ / BBKK'
 'SSQQ / SSBB' 'BBKK / BBKK' 'LLNN / LLNN' 'AADD / SSSN' 'AADD / SSNN'
 'SSSN / SSSN' 'SSSN / UUNN' 'AADD / SSBB' 'AAEE / UUHH' 'AABB / BBKK']
 Quantity of Rooms: 65
Columns: Index(['No. reserva', 'Status', 'Tipo UH', 'Vlr. diária', 'UH', 'Garantida',
       'Chegada', 'Partida', 'Nome fantasia', 'Razão social', 'Segmento',
       'Tarifa', 'Origem', 'Tipo hóspede', 'Adt | C1 | C2', 'Dt. reserva',
       'Localizador', 'Dt. Cancelamento'],
      dtype='object')

In [7]:
to_english_cols = {
    'No. reserva': 'No. Reservation',
    'Status': 'Status',
    'Tipo UH': 'Kind Room',
    'Vlr. diária': 'Val. Day',
    'UH': 'Room',
    'Garantida': 'Guaranteed',
    'Chegada': 'Arrival',
    'Partida': 'Leaving',
    'Nome fantasia': 'Company name',
    'Razão social': 'Company legal name',
    'Segmento': 'Segment',
    'Tarifa': 'Tax',
    'Origem': 'Origin',
    'Tipo hóspede': 'Kind guest',
    'Adt | C1 | C2': 'Parent | Child | Baby',
    'Dt. reserva': 'Date Reservation',
    'Localizador': 'Localizer',
    'Dt. Cancelamento': 'Canceling'
}

Hotel_Profit_Raw.rename(columns=to_english_cols, inplace=True)
Hotel_Profit_Raw.columns

Index(['No. Reservation', 'Status', 'Kind Room', 'Val. Day', 'Room',
       'Guaranteed', 'Arrival', 'Leaving', 'Company name',
       'Company legal name', 'Segment', 'Tax', 'Origin', 'Kind guest',
       'Parent | Child | Baby', 'Date Reservation', 'Localizer', 'Canceling'],
      dtype='object')

In [8]:
Hotel_Profit_Raw.head()

,No. Reservation,Status,Kind Room,Val. Day,Room,Guaranteed,Arrival,Leaving,Company name,Company legal name,Segment,Tax,Origin,Kind guest,Parent | Child | Baby,Date Reservation,Localizer,Canceling
0,333926091,No-Show,SSNN / AABB,315.00,407.0,S,2022-09-23,2022-09-24,1.0,1.0,OTA,Tarifa Sem Café 2022,OB,Regular,2 | 0 | 0,2022-07-23,NaN,NaT
1,335534320,Check-out,AAEE / AAEE,227.21,810.0,S,2022-09-23,2022-09-24,2.0,2.0,OTA,Flex Sem Café 12 2023,OB,Regular,2 | 0 | 0,2022-08-05,NaN,NaT
2,339701767,Check-out,AAEE / AAEE,328.95,812.0,S,2022-09-23,2022-09-24,2.0,2.0,OTA,Flex 12 2023,OB,Regular,3 | 0 | 0,2022-09-21,NaN,NaT
5,339739111,Check-out,AAEE / AAEE,260.11,1003.0,N,2022-09-23,2022-09-24,2.0,2.0,OTA,Flex 12 2023,OB,Regular,2 | 0 | 0,2022-09-23,NaN,NaT
6,339739006,Check-out,AAEE / AAEE,260.11,1004.0,N,2022-09-23,2022-09-24,2.0,2.0,OTA,Flex 12 2023,OB,Regular,2 | 0 | 0,2022-09-23,NaN,NaT

In [9]:
room_profit = Hotel_Profit_Raw.groupby('Kind Room')['Val. Day'].sum()
room_profit

Kind Room
AABB / AABB    588322.60
AABB / AAEE     65143.43
AABB / BBKK       630.00
AABB / SSBB      3595.50
AABB / SSNN      6187.90
                 ...
UUNN / BBKK       698.40
UUNN / SSBB       279.00
UUNN / SSNN       710.00
UUNN / UUHH       720.00
UUNN / UUNN    811323.92
Name: Val. Day, Length: 65, dtype: float64

### Cálculos dos lucros


- Calculamos a duração de uma reserva e multiplicamos pela diária, obtendo o lucro por quarto único
- Calculamos a ocupação dos quartos por tipo, dividindo os quartos únicos de um determinado tipo pelo número total de quartos desse mesmo tipo que aparecem na tabela
- Calculamos o lucro por tipo de quarto, agora somando os valores por tipo e apresentando numa tabela reduzida

Calculando quantos dias cada reserva durou

In [10]:
Hotel_Profit_Raw['Arrival'] = pd.to_datetime(Hotel_Profit_Raw['Arrival'])
Hotel_Profit_Raw['Leaving'] = pd.to_datetime(Hotel_Profit_Raw['Leaving'])
Hotel_Profit_Raw['Stay_Duration'] = (Hotel_Profit_Raw['Leaving'] - Hotel_Profit_Raw['Arrival']).dt.days
print(f"Different quantities of reservations stay-days: \n {Hotel_Profit_Raw['Stay_Duration'].unique()}")

Different quantities of reservations stay-days:
 [ 1  2  3  4  5  6  7  0  8  9 10 12 11 33 32 19 13 30 28 16 29 14 25 15
 24]

Calculando lucro de cada reserva por dias reservados

In [11]:
Hotel_Profit_Raw['Monthly Room Profit'] = Hotel_Profit_Raw['Stay_Duration'] * Hotel_Profit_Raw['Val. Day']
print(f"Different quantities of monthly incomes from reservations: \n {Hotel_Profit_Raw['Monthly Room Profit'].unique(), len(Hotel_Profit_Raw['Monthly Room Profit'].unique())}")

Different quantities of monthly incomes from reservations:
 (array([315.  , 227.21, 328.95, ..., 325.12, 483.79, 358.48]), 2181)

In [12]:
Hotel_Profit_Raw['Monthly Room Profit'].head()

0    315.00
1    227.21
2    328.95
5    260.11
6    260.11
Name: Monthly Room Profit, dtype: float64

In [13]:
Hotel_Profit_Raw['Monthly Room Profit'].max()

11310.0

Lucro total em todos os tipos de quartos

In [14]:
Hotel_Profit_Raw['Monthly Room Profit'].sum()

5251764.62

Cálculos de ocupação de quartos e lucro por tipo de quarto

In [15]:
new_data = Hotel_Profit_Raw[['Kind Room', 'Room', 'Monthly Room Profit']].copy()

# Cálculo da ocupação por quartos
# Para saber a ocupação dos quartos por tipo, 
# estamos dividindo os quartos únicos de um determinado tipo pelo número total de quartos desse mesmo tipo que aparecem na tabela
room_occupancy = new_data.groupby('Kind Room')['Room'].count() / new_data.groupby('Kind Room')['Room'].nunique()
room_occupancy

Kind Room
AABB / AABB    29.750000
AABB / AAEE     3.694444
AABB / BBKK     1.000000
AABB / SSBB     1.125000
AABB / SSNN     1.222222
                 ...
UUNN / BBKK     1.000000
UUNN / SSBB     1.000000
UUNN / SSNN     1.000000
UUNN / UUHH     1.000000
UUNN / UUNN    45.255319
Name: Room, Length: 65, dtype: float64

In [16]:
# Cálculo do lucro por tipo de quarto
room_profit = new_data.groupby('Kind Room')['Monthly Room Profit'].sum() 
room_profit

Kind Room
AABB / AABB    1042682.75
AABB / AAEE     115144.38
AABB / BBKK        630.00
AABB / SSBB       5298.00
AABB / SSNN      12318.70
                  ...
UUNN / BBKK       1396.80
UUNN / SSBB        558.00
UUNN / SSNN        960.00
UUNN / UUHH        720.00
UUNN / UUNN    1499887.28
Name: Monthly Room Profit, Length: 65, dtype: float64

In [17]:
total_profit = Hotel_Profit_Raw['Monthly Room Profit'].sum()
total_profit

5251764.62

In [18]:
def transform_df(entry_df, target_col, condition_col, dashed):
    if dashed:
        entry_df[target_col] = entry_df[target_col].where(entry_df[condition_col] != entry_df[condition_col].shift(), '---')
        
    return entry_df

def show_df(entry_df, index_by):
    display(entry_df.set_index([*index_by]))

def save_df(entry_df, file_name, idx):
    entry_df.to_excel('../Data/' + file_name, index = idx )
    print(f"\nFinal DataFrame saved as {file_name}")
    info_str = f"DataFrame {file_name}: {entry_df.shape[0]} linhas x {entry_df.shape[1]} colunas"
    print(info_str)

#### Análise dos dados

Como a exigência é lucro mensal, precisamos do mês para filtrar os dados.

Vamos considerar o mês em que o cliente saiu do Hotel como mês que "cai" o lucro

A não ser que nesse mercado a consideração sobre o mês do lucro seja diferente, estou assumindo na análise desta forma

In [19]:
# Converter para datetime
Hotel_Profit_Raw['Arrival'] = pd.to_datetime(Hotel_Profit_Raw['Arrival'])
Hotel_Profit_Raw['Leaving'] = pd.to_datetime(Hotel_Profit_Raw['Leaving'])

# Definição da base comparativa para o lucro mês a mês: no final da estadia do cliente
Hotel_Profit_Raw['Month-Year'] = Hotel_Profit_Raw['Leaving'].dt.strftime('%m/%Y')

# Novo dataframe com coluna Month-Year
monthly_grouped_data = Hotel_Profit_Raw[['Month-Year', 'Kind Room', 'Room', 'Monthly Room Profit']].copy()

# Data frame final agrupado por 'Month-Year' e 'Kind Room' conforme a especificação, e com a soma de 'Room Profit', dessa vez, por mês e tipo de quarto
Hotel_Profit = monthly_grouped_data.groupby(['Month-Year', 'Kind Room']).agg({'Monthly Room Profit': 'sum'}).reset_index()

# Cálculo do total de quartos da 'Kind Room', mensal
total_rooms = monthly_grouped_data.groupby(['Month-Year', 'Kind Room'])['Room'].nunique().reset_index()
total_rooms = total_rooms.rename(columns={'Room': 'Total Rooms'})

# Cálculo do total de quartos ocupados para cada tipo 'Kind Room', mensal
occupied_rooms = monthly_grouped_data.groupby(['Month-Year', 'Kind Room'])['Room'].count().reset_index()
occupied_rooms = occupied_rooms.rename(columns={'Room': 'Occupied Rooms'})

# Mergear as variáveis novas para o cálculo de ocupação (uma das exigências), mensal, no dataframe final
Hotel_Profit = pd.merge(Hotel_Profit, total_rooms, on=['Month-Year', 'Kind Room'], how='left')
Hotel_Profit = pd.merge(Hotel_Profit, occupied_rooms, on=['Month-Year', 'Kind Room'], how='left')

# Cálculo de ocupação dos quartos, porcentagem de ocupação '% Occupation': Quartos ocupados / Total de quartos
# já com número mensal das variáveis anteriores
# se 0/0, considera 0
Hotel_Profit['% Occupation'] = np.where(\
    (Hotel_Profit['Occupied Rooms'] == 0) & (Hotel_Profit['Total Rooms'] == 0), 0, Hotel_Profit['Occupied Rooms'] / Hotel_Profit['Total Rooms'] )

# Cálculo do lucro total mensal, por cada mês de conclusão de reserva do cliente
monthly_total_profit = Hotel_Profit_Raw.groupby('Month-Year')['Monthly Room Profit'].sum().reset_index()
monthly_total_profit = monthly_total_profit.rename(columns={'Monthly Room Profit': 'Total Monthly Profit'})

# Merge do total mensal no dataframe final
Hotel_Profit = pd.merge(Hotel_Profit, monthly_total_profit, on='Month-Year', how='left')
show_df(Hotel_Profit, ('Month-Year', 'Kind Room'))
save_df(Hotel_Profit, 'Hotel_Profit_Analysis.xlsx', False)

Hotel_Profit_Treated_Dashed = transform_df(Hotel_Profit, 'Total Monthly Profit', 'Month-Year', True)

show_df(Hotel_Profit_Treated_Dashed, ('Month-Year', 'Kind Room'))
save_df(Hotel_Profit_Treated_Dashed, 'Hotel_Profit_Analysis_Dashed.xlsx', False)

                        Monthly Room Profit  Total Rooms  Occupied Rooms  \
Month-Year Kind Room
01/2023    AABB / AABB            315690.74           32             272
           AABB / AAEE             21040.72           17              24
           AABB / SSNN              1915.00            2               2
           AABB / UUNN             11637.78           13              15
           AADD / AABB              5619.60            5               5
...                                     ...          ...             ...
12/2022    UUNN / AABB               684.61            1               1
           UUNN / AAEE             11304.50            7               8
           UUNN / BBKK              1396.80            1               1
           UUNN / UUHH               400.00            1               1
           UUNN / UUNN            294395.47           41             340

                        % Occupation  Total Monthly Profit
Month-Year Kind Room
01/2023    AABB / AABB      8.500000            1139770.76
           AABB / AAEE      1.411765            1139770.76
           AABB / SSNN      1.000000            1139770.76
           AABB / UUNN      1.153846            1139770.76
           AADD / AABB      1.000000            1139770.76
...                              ...                   ...
12/2022    UUNN / AABB      1.000000             961112.07
           UUNN / AAEE      1.142857             961112.07
           UUNN / BBKK      1.000000             961112.07
           UUNN / UUHH      1.000000             961112.07
           UUNN / UUNN      8.292683             961112.07

[230 rows x 5 columns]

Final DataFrame saved as Hotel_Profit_Analysis.xlsx
DataFrame Hotel_Profit_Analysis.xlsx: 230 linhas x 7 colunas

                        Monthly Room Profit  Total Rooms  Occupied Rooms  \
Month-Year Kind Room
01/2023    AABB / AABB            315690.74           32             272
           AABB / AAEE             21040.72           17              24
           AABB / SSNN              1915.00            2               2
           AABB / UUNN             11637.78           13              15
           AADD / AABB              5619.60            5               5
...                                     ...          ...             ...
12/2022    UUNN / AABB               684.61            1               1
           UUNN / AAEE             11304.50            7               8
           UUNN / BBKK              1396.80            1               1
           UUNN / UUHH               400.00            1               1
           UUNN / UUNN            294395.47           41             340

                        % Occupation Total Monthly Profit
Month-Year Kind Room
01/2023    AABB / AABB      8.500000           1139770.76
           AABB / AAEE      1.411765                  ---
           AABB / SSNN      1.000000                  ---
           AABB / UUNN      1.153846                  ---
           AADD / AABB      1.000000                  ---
...                              ...                  ...
12/2022    UUNN / AABB      1.000000                  ---
           UUNN / AAEE      1.142857                  ---
           UUNN / BBKK      1.000000                  ---
           UUNN / UUHH      1.000000                  ---
           UUNN / UUNN      8.292683                  ---

[230 rows x 5 columns]

Final DataFrame saved as Hotel_Profit_Analysis_Dashed.xlsx
DataFrame Hotel_Profit_Analysis_Dashed.xlsx: 230 linhas x 7 colunas

Análise do dataset relativo aos lucros por quarto

In [20]:
oldest_date = Hotel_Profit_Raw['Arrival'].min()
latest_date = Hotel_Profit_Raw['Leaving'].max()

time_difference = relativedelta(latest_date, oldest_date)

time_difference_str = (
    f"{time_difference.years} years {time_difference.months} months"
)

print(f"Start Date: {oldest_date}")
print(f"Finish Date: {latest_date}")
print(f"Time Passed: {time_difference_str}")

num_unique_companies = Hotel_Profit_Raw['Company name'].nunique()
print(f"Number of Unique Company Names: {num_unique_companies}")

num_unique_segments = Hotel_Profit_Raw['Segment'].nunique()
print(f"Number of Unique Segments: {num_unique_segments}")

num_unique_room_types = Hotel_Profit_Raw['Kind Room'].nunique()
print(f"Number of Unique Room Types: {num_unique_room_types}")

total_profit = Hotel_Profit_Raw['Monthly Room Profit'].sum()
formatted_total_profit = f"{total_profit:_.3f}".replace("_", ".")
print(f"Total Profit across 5 months: {formatted_total_profit}")

if num_unique_room_types > 10:
    print("O grande número de tipos de quartos no dataset sugere a presença de vários hotéis.")
else:
    print("O dataset representa um único hotel com uma pequena variedade de tipos de quartos.")

Start Date: 2022-09-23 00:00:00
Finish Date: 2023-03-22 00:00:00
Time Passed: 0 years 5 months
Number of Unique Company Names: 80
Number of Unique Segments: 11
Number of Unique Room Types: 65
Total Profit across 5 months: 5.251.764.620
O grande número de tipos de quartos no dataset sugere a presença de vários hotéis.

Na análise foi realizado:
- Descartamos linhas repetidas, reduzindo de 9 mil para cerca de 7 mil linhas únicas
- Checamos o número que tipos diferentes de quartos
- Checamos as datas de início e fim das reservas, nos dando um período de cerca de 5 meses


- A quantidade de empresas é de 80, o que fortalece a teoria de que são empresas de turismo que gerenciam diversos/mais de um dos Hotéis
- Os Segmentos são 11, podem indicar ainda diversas coisas dependendo do contexto, mas pode-se assumir que tratam de diferentes tipos de clientes, regiões ou tipos turísticos (por exemplo: unicamente turistico, corporativo, por temporada) ou ainda também, faixas de preço
- Os tipos de quarto e lucro são os fatores que mais indicam que pode se tratar de mais de um prédio único, mais de um hotel

Conclusões:

Tendo 65 tipos de quartos não caberia num único Hotel. É muito mais provável que o dataset esteja tratando de mais do que um prédio, uma rede de hotéis.

Creio que todos esses números podem sustentar isso, pois temos diversas empresas no dataset na coluna Razão Social/Nome Fantasia.

Sem contexto, mas pensando um pouco sobre os dados isso pode segurir que são diversas empresas que gerenciam cada um dos Hotéis ou mesmo que algumas gerenciam mais de um.

Também o valor do lucro por tipo de quartos no período de apenas 5 meses, dando mais de R$ 5 milhões também dá mais força a essa tese.

Claro, tendo acesso ao contexto completo do dataset facilitaria bastante essas conclusões, porém, trabalhando com o contexto simples que tenho, é a isso que posso chegar.

Creio que seja razoável a um hotel ter até 10 tipos diferentes de quarto, mas 65 parece muito para uma única locação física. 

Juntando isso com 11 segmentos diferentes, um lucro de 5 milhões em 5 meses e 80 empresas diferentes possivelmente gerenciando, isso pra mim confirma que se trata de uma rede de hotéis que atua em vários segmentos de público e preço